In [1]:
#Add and remove data  - 16 - 8 - 2021 --  Misk

In [29]:
import numpy as np
import pandas as pd

df = pd.read_csv(
     'data/earthquakes.csv', 
     usecols=[
        'time', 'title', 'place', 'magType', 
        'mag', 'alert', 'tsunami'
     ]
 )

df

,alert,mag,magType,place,time,title,tsunami
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0
...,...,...,...,...,...,...,...
9327,NaN,0.62,md,"9km ENE of Mammoth Lakes, CA",1537230228060,"M 0.6 - 9km ENE of Mammoth Lakes, CA",0
9328,NaN,1.00,ml,"3km W of Julian, CA",1537230135130,"M 1.0 - 3km W of Julian, CA",0
9329,NaN,2.40,md,"35km NNE of Hatillo, Puerto Rico",1537229908180,"M 2.4 - 35km NNE of Hatillo, Puerto Rico",0
9330,NaN,1.10,ml,"9km NE of Aguanga, CA",1537229545350,"M 1.1 - 9km NE of Aguanga, CA",0
9331,NaN,0.66,ml,"9km NE of Aguanga, CA",1537228864470,"M 0.7 - 9km NE of Aguanga, CA",0

In [30]:
#Add Column

df['one'] = 1

df.head()

,alert,mag,magType,place,time,title,tsunami,one
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,1
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,1
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,1

In [31]:
df['mag_negative'] = df.mag < 0
df.head()

,alert,mag,magType,place,time,title,tsunami,one,mag_negative
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,1,False
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,1,False
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,1,False

In [32]:
#Add new column the value is true or false - the data is does value column[mag] nigative ?

df['mag_negative'] < 0 

df.head(50)

,alert,mag,magType,place,time,title,tsunami,one,mag_negative
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,1,False
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,1,False
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,1,False
5,NaN,2.61,md,"55km ESE of Punta Cana, Dominican Republic",1539473686440,"M 2.6 - 55km ESE of Punta Cana, Dominican Repu...",0,1,False
6,NaN,1.70,ml,"105km W of Talkeetna, Alaska",1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,1,False
7,NaN,1.13,md,"10km NW of Parkfield, CA",1539473060280,"M 1.1 - 10km NW of Parkfield, CA",0,1,False
8,NaN,0.92,md,"6km NW of The Geysers, CA",1539473042310,"M 0.9 - 6km NW of The Geysers, CA",0,1,False
9,NaN,4.70,mb,"219km SSE of Saparua, Indonesia",1539472814760,"M 4.7 - 219km SSE of Saparua, Indonesia",0,1,False
10,NaN,0.50,ml,"10km NE of Aguanga, CA",1539471831030,"M 0.5 - 10km NE of Aguanga, CA",0,1,False
11,NaN,2.77,md,"53km SE of Punta Cana, Dominican Republic",1539471621260,"M 2.8 - 53km SE of Punta Cana, Dominican Republic",0,1,False
12,NaN,0.50,ml,"9km NE of Aguanga, CA",1539470934710,"M 0.5 - 9km NE of Aguanga, CA",0,1,False
13,NaN,4.50,mb,"120km SSW of Banda Aceh, Indonesia",1539470898340,"M 4.5 - 120km SSW of Banda Aceh, Indonesia",0,1,False
14,NaN,2.13,md,"14km NW of Parkfield, CA",1539470851950,"M 2.1 - 14km NW of Parkfield, CA",0,1,False
15,NaN,2.00,ml,"156km WNW of Haines Junction, Canada",1539470304219,"M 2.0 - 156km WNW of Haines Junction, Canada",0,1,False
16,NaN,0.72,md,"2km N of The Geysers, CA",1539470237230,"M 0.7 - 2km N of The Geysers, CA",0,1,False
17,NaN,1.69,md,"2km S of Maricao, Puerto Rico",1539468879730,"M 1.7 - 2km S of Maricao, Puerto Rico",0,1,False
18,NaN,2.00,ml,"57km SSW of Kaktovik, Alaska",1539468687232,"M 2.0 - 57km SSW of Kaktovik, Alaska",0,1,False
19,NaN,0.92,ml,"4km ENE of Calimesa, CA",1539468671340,"M 0.9 - 4km ENE of Calimesa, CA",0,1,False
20,NaN,2.82,md,"61km N of Tierras Nuevas Poniente, Puerto Rico",1539467908560,"M 2.8 - 61km N of Tierras Nuevas Poniente, Pue...",0,1,False
21,NaN,1.70,ml,"64km SSW of Salcha, Alaska",1539467905609,"M 1.7 - 64km SSW of Salcha, Alaska",0,1,False
22,NaN,0.81,ml,"4km NW of San Clemente, CA",1539467508540,"M 0.8 - 4km NW of San Clemente, CA",0,1,False
23,NaN,0.55,ml,"27km E of Coso Junction, CA",1539466580200,"M 0.6 - 27km E of Coso Junction, CA",0,1,False
24,NaN,0.67,ml,"6km SSE of Idyllwild, CA",1539466409430,"M 0.7 - 6km SSE of Idyllwild, CA",0,1,False
25,NaN,2.10,md,"14km NW of Parkfield, CA",1539466356170,"M 2.1 - 14km NW of Parkfield, CA",0,1,False
26,NaN,2.80,ml,"111km NNW of Arctic Village, Alaska",1539466288954,"M 2.8 - 111km NNW of Arctic Village, Alaska",0,1,False
27,NaN,1.10,ml,"43km S of Redoubt Volcano, Alaska",1539465520462,"M 1.1 - 43km S of Redoubt Volcano, Alaska",0,1,False
28,NaN,1.80,ml,"86km SW of Anchor Point, Alaska",1539464607849,"M 1.8 - 86km SW of Anchor Point, Alaska",0,1,False
29,NaN,0.93,md,"15km NW of Parkfield, CA",1539464503490,"M 0.9 - 15km NW of Parkfield, CA",0,1,False
30,NaN,1.52,ml,"2km WNW of Manhattan, Montana",1539463322040,"M 1.5 - 2km WNW of Manhattan, Montana",0,1,False
31,NaN,2.30,ml,"79km SW of Kaktovik, Alaska",1539462724148,"M 2.3 - 79km SW of Kaktovik, Alaska",0,1,False
32,NaN,1.30,ml,"13km E of Hawthorne, Nevada",1539461038285,"M 1.3 - 13km E of Hawthorne, Nevada",0,1,False
33,NaN,1.70,ml,"45km S of Kaktovik, Alaska",1539460963493,"M 1.7 - 45km S of Kaktovik, Alaska",0,1,False
34,NaN,2.20,ml,"83km W of Anchor Point, Alaska",1539460430189,"M 2.2 - 83km W of Anchor Point, Alaska",0,1,False
35,NaN,1.90,ml,"60km S of Cantwell, Alaska",1539460155900,"M 1.9 - 60km S of Cantwell, Alaska",0,1,False
36,NaN,5.00,mww,"165km NNW of Flying Fish Cove, Christmas Island",1539459504090,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,1,False
37,NaN,1.60,ml,"95km N of College, Alaska",1539459197502,"M 1.6 - 95km N of College, Alaska",0,1,False
38,NaN,2.12,ml,"7km SW of Volcano, Hawaii",1539458974490,"M 2.1 - 7km SW of Volcano, Hawaii",0,1,False
39,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539458844506,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,1,True
40,NaN,1.31,ml,"10km ESE of Lincoln, Montana",1539458726910,"M 1.3 - 10km ESE of Lincoln, Montana",0,1,False
41,NaN,0.20,ml,"6km NW of Lemmon Valley, Nevada",1539458665088,"M 0.2 - 6km NW of Lemmon Valley, Nevada",0,1,False
42,NaN,0.86,ml,"12km N of Borrego Springs, CA",1539457997460,"M 0.9 - 12km N of Borrego Springs, CA",0,1,False
43,NaN,2.92,md,"67km NNE of Arecibo, Puerto Rico",1539457653730,"M 2.9 - 67km NNE of Arecibo, Puerto Rico",0,1,False
44,NaN,0.32,ml,"10km NE of Aguanga, CA",1539457563160,"M 0.3 - 10km NE of Aguanga, CA",0,1,False
45,NaN,1.84,md,"23km SSW of South Dos Palos, CA",1539457145410,"M 1.8 - 23km SSW of South Dos Palos, CA",0,1,False
46,NaN,1.90,ml,"13km W of Y, Alaska",1539457095255,"M 1.9 - 13km W of Y, Alaska",0,1,False
47,NaN,1.14,md,"6km NNW of Pinnacles, CA",1539455748700,"M 1.1 - 6km NNW of Pinnacles, CA",0,1,False
48,NaN,0.90,ml,"42km WSW of Tonopah, Nevada",1539455306730,"M 0.9 - 42km WSW of Tonopah, Nevada",0,1,False
49,NaN,-0.10,ml,"6km NW of Lemmon Valley, Nevada",1539455017464,"M -0.1 - 6km NW of Lemmon Valley, Nevada",0,1,True

In [33]:
df.place.str.extract(r', (.*$)')[0].sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

In [34]:
 df['parsed_place'] = df.place.str.replace(
     r'.* of ', '' # remove <something> of <something> 
                       
 ).str.replace(
     r'the ', '' # remove things starting with "the"
 ).str.replace(
     r'CA$', 'California' # fix California
 ).str.replace(
     r'NV$', 'Nevada' # fix Nevada
 ).str.replace(
     r'MX$', 'Mexico' # fix Mexico
 ).str.replace(
     r' region$', '' # chop off endings with "region"
 ).str.replace(
     r'northern ', '' # remove "northern"
 ).str.replace(
     r'Fiji Islands', 'Fiji' # line up the Fiji places
 ).str.replace(
     r'^.*, ', '' # remove anything else extraneous from beginning
 ).str.strip() # remove any extra spaces

In [35]:
df.parsed_place.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Sumatra', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands',
       'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen'], dtype=object)

In [36]:
 df.assign(
     in_ca=df.parsed_place.str.endswith('California'), 
     in_alaska=df.parsed_place.str.endswith('Alaska')
 ).head()

,alert,mag,magType,place,time,title,tsunami,one,mag_negative,parsed_place,in_ca,in_alaska
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False,California,True,False
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False,California,True,False
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,1,False,California,True,False
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,1,False,California,True,False
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,1,False,California,True,False

In [10]:
tsunami = df[df.tsunami == 1]
no_tsunami = df[df.tsunami == 0]

tsunami.shape, no_tsunami.shape

((61, 10), (9271, 10))

In [11]:
no_tsunami.shape

(9271, 10)

In [12]:
pd.concat([tsunami , no_tsunami]).shape 
# 61 rows + 9271 rows

(9332, 10)

In [13]:
tsunami.append(no_tsunami).shape 
#(9332, 10) # 61 rows + 9271 rows

(9332, 10)

In [14]:
additional_columns = pd.read_csv(
     'data/earthquakes.csv', usecols=['tz', 'felt', 'ids']
 )
pd.concat([df.head(2), additional_columns.head(2)], axis=1)

,alert,mag,magType,place,time,title,tsunami,one,mag_negative,parsed_place,felt,ids,tz
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False,California,NaN,",ci37389218,",-480.0
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False,California,NaN,",ci37389202,",-480.0

In [15]:
additional_columns = pd.read_csv(
     'data/earthquakes.csv', usecols=['tz', 'felt', 'ids', 'time'], 
     index_col='time'
 )
pd.concat([df.head(2), additional_columns.head(2)], axis=1)

,alert,mag,magType,place,time,title,tsunami,one,mag_negative,parsed_place,felt,ids,tz
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1.539475e+12,"M 1.4 - 9km NE of Aguanga, CA",0.0,1.0,False,California,NaN,NaN,NaN
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1.539475e+12,"M 1.3 - 9km NE of Aguanga, CA",0.0,1.0,False,California,NaN,NaN,NaN
1539475129610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",ci37389202,",-480.0
1539475168010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,",ci37389218,",-480.0

In [16]:
pd.concat(
     [
         tsunami.head(2),
         no_tsunami.head(2).assign(type='earthquake')
     ], 
     join='inner'
 )

,alert,mag,magType,place,time,title,tsunami,one,mag_negative,parsed_place
36,NaN,5.00,mww,"165km NNW of Flying Fish Cove, Christmas Island",1539459504090,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,1,False,Christmas Island
118,green,6.70,mww,"262km NW of Ozernovskiy, Russia",1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,1,False,Russia
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False,California
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False,California

In [17]:
 pd.concat(
    [
         tsunami.head(2),
         no_tsunami.head(2).assign(type='earthquake')
     ], 
     join='inner'
 )

,alert,mag,magType,place,time,title,tsunami,one,mag_negative,parsed_place
36,NaN,5.00,mww,"165km NNW of Flying Fish Cove, Christmas Island",1539459504090,"M 5.0 - 165km NNW of Flying Fish Cove, Christm...",1,1,False,Christmas Island
118,green,6.70,mww,"262km NW of Ozernovskiy, Russia",1539429023560,"M 6.7 - 262km NW of Ozernovskiy, Russia",1,1,False,Russia
0,NaN,1.35,ml,"9km NE of Aguanga, CA",1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,1,False,California
1,NaN,1.29,ml,"9km NE of Aguanga, CA",1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,1,False,California

# Removing columns

In [18]:
#Removing columns

del df['one']

df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'mag_negative', 'parsed_place'],
      dtype='object')

In [19]:
try:
    del df['ones']
except KeyError:
    print("The colum not here")
    pass

The colum not here

In [20]:
mag_negative = df.pop('mag_negative')

In [21]:
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'parsed_place'],
      dtype='object')

In [22]:
df.drop([0,1]).head()

,alert,mag,magType,place,time,title,tsunami,parsed_place
2,NaN,3.42,ml,"8km NE of Aguanga, CA",1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,California
3,NaN,0.44,ml,"9km NE of Aguanga, CA",1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,California
4,NaN,2.16,md,"10km NW of Avenal, CA",1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,California
5,NaN,2.61,md,"55km ESE of Punta Cana, Dominican Republic",1539473686440,"M 2.6 - 55km ESE of Punta Cana, Dominican Repu...",0,Dominican Republic
6,NaN,1.70,ml,"105km W of Talkeetna, Alaska",1539473176017,"M 1.7 - 105km W of Talkeetna, Alaska",0,Alaska

In [23]:
df.drop(
     columns=[col for col in df.columns \
              if col not in \
              ['alert', 'mag', 'title', 'time', 'tsunami']]
).head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0

In [24]:
 df.drop(
     columns=[col for col in df.columns \
              if col not in \
              ['alert', 'mag', 'title', 'time', 'tsunami']]
 ).equals(
     df.drop(
         [col for col in df.columns \
          if col not in ['alert', 'mag', 'title', \
                         'time', 'tsunami']],
         axis=1
     )
 )
True

True

In [25]:
 df.drop(
     columns=[col for col in df.columns \
              if col not in \
              ['alert', 'mag', 'title', 'time', 'tsunami']],
     inplace=True
 )
df.head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0